
   {% extends 'common.html' %}

   {% block balu %}
      {% load static %}
       <body>

           <div class="bg"></div>

           <p class="py-5 text-center"></p>

       </body>

       <body>
             <tr>
                 <h1 align="center">Login</h1>
             </tr>
             <br>
             <tr>
                 <th>
                     <center><input type="text" placeholder="Username" required></center>
                 </th>
             </tr>
             <br>
             <tr>
                 <th>
                     <center><input type="password" placeholder="Passsword" required></center>
                 </th>
             </tr>
       </body>



   {% endblock %}














